<div class="fifty-fifty">
  <div class="first-half-text">
    <div class="inner-circle">
      <div>
        <h2 class="wine-name-show"><%= @wine.name %></h2>
        <h6 style="color: grey"><%= @wine.winetype.name.capitalize %> Wine</h6>
      </div>
      <div class="wine-card-product-fruits fruits-show-page">
        <% @wine.fruits.each do |fruit| %>
        <% if fruit.name == "Peach" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('peachicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Pineapple" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('pineappleicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Plum" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('plumicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Cherry" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('cherryicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Apple" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('appleicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Banana" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('bananaicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Apricot" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('apricoticon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Pear" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('pearicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Mango" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('mangoicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Passion Fruit" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('passion-fruiticon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Blackberry" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('blackberryicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% elsif fruit.name == "Red Berry" %>
        <div class="fruit-icon-and-name">
          <%= image_tag('strawberryicon.png', class:"fruiticon") %>
          <%= fruit.name %>
        </div>
        <% end %>
        <% end %>
      </div>
      <%= form_tag orders_path do %>
      <%= hidden_field_tag 'wine_id', @wine.id %>
      <%= submit_tag 'Pay', class: 'purchase-btn' %>
      <% end %>
    </div>
  </div>
  <div class="second-half-product">
    <div class="inner-circle">
      <%= image_tag('dose.png', class:"wine-bottle-big") %>
    </div>
  </div>
</div>

<div class="arrow-down">
  <i id="downarrow" class="fas fa-chevron-down"></i>
</div>



<div class="container description-text">

  <div class="wine-desc-text">
    <h2>Description</h2>
    <div >
<p class="description-show"></p>
    </div>
  </div>
</div>


<div class="container fruitslist">
  <div class="wine-desc allfruits">
    <h2>Aromas</h2>
    <% @allfruitstwo.each do |fruit| %>
    <% if fruit.name == "Peach" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('peachicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p>A fruit that will remind you of summer due to its <strong>rich, fruity aromatic essences.</strong></p>

      </div>
    </div>
    <% elsif fruit.name == "Pineapple" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('pineappleicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p><strong>Fresh and fruity</strong>yet sweet and full-flavoured at the same time.</p>
      </div>
    </div>
    <% elsif fruit.name == "Plum" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('plumicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p>Rich, seductive and sweet but with an <strong>acidic spark and an astringent bite.</strong></p>
      </div>
    </div>
    <% elsif fruit.name == "Cherry" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('cherryicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p>A sommer fruit with a unique <strong>sour-sweet flavor</strong> with a tart touch.</p>
      </div>
    </div>
    <% elsif fruit.name == "Apple" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('appleicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p><strong>Sour, bitter and sweet</strong>. Basically a fruit with an explosion of aromas.</p>
      </div>
    </div>
    <% elsif fruit.name == "Banana" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('bananaicon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p>Pleasantly chalky with a lasting, tropical, <strong>creamy flavor.</strong></p>
      </div>
    </div>
    <% elsif fruit.name == "Apricot" %>
    <div class="card-product">
      <div class="fruit-img"><%= image_tag('apricoticon.png', class:"fruiticontwo") %></div>
      <div class="card-product-infos">
        <h2><%= fruit.name %></h2>
        <p>Sweet and meaty, with just enough <strong>tartness to balance them out.</strong></p>
      </div>
    </div>
    <% elsif fruit.name == "Pear" %>
    <div class="card-product">
     <div class="fruit-img"><%= image_tag('pearicon.png', class:"fruiticontwo") %></div>
     <div class="card-product-infos">
      <h2><%= fruit.name %></h2>
      <p>Juicy, sweet flavor with <strong>floral undertones</strong> and a characteristic perfume.</p>
    </div>
  </div>
  <% elsif fruit.name == "Mango" %>
  <div class="card-product">
   <div class="fruit-img"><%= image_tag('mangoicon.png', class:"fruiticontwo") %></div>
   <div class="card-product-infos">
    <h2><%= fruit.name %></h2>
    <p>Sweet, juicy and deliciously tasty, the <strong>ultimate tropical fruit.</strong></p>
  </div>
</div>
<% elsif fruit.name == "Passion Fruit" %>
<div class="card-product">
 <div class="fruit-img"><%= image_tag('passion-fruiticon.png', class:"fruiticontwo") %></div>
 <div class="card-product-infos">
  <h2><%= fruit.name %></h2>
  <p><strong>Exotic, fruity and tart</strong> with a strong and characteristic perfume.</p>
</div>
</div>
<% elsif fruit.name == "Blackberry" %>
<div class="card-product">
 <div class="fruit-img"><%= image_tag('blackberryicon.png', class:"fruiticontwo") %></div>
 <div class="card-product-infos">
  <h2><%= fruit.name %></h2>
  <p>Very <strong>tart</strong>, with a delicious sweet and sour touch.</p>
</div>
</div>
<% elsif fruit.name == "Red Berry" %>
<div class="card-product">
  <div class="fruit-img"><%= image_tag('strawberryicon.png', class:"fruiticontwo") %></div>
  <div class="card-product-infos">
    <h2><%= fruit.name %></h2>
    <p>Sweet and sour aromas that reminds you of the <strong>essence of spring.</strong></p>
  </div>
</div>
<% end %>
<% end %>
</div>
</div>

<div class="pay-button">
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'wine_id', @wine.id %>
  <%= submit_tag 'Pay', class: 'purchase-btn' %>
  <% end %>
</div>






